<div class="container color-light">
  
  <div class="form-box">
    <form #skillForm="ngForm" (ngSubmit)="AgregarJob()">
      <input type="text" class="txt" name="skill" placeholder="Habilidad" [(ngModel)]="mySkills.skill"><br>
      <input type="text" class="txt" name="percentage" placeholder="Porcentaje" [(ngModel)]="mySkills.percentage"><br>

      <button type="submit" class="btn-submit">{{ btntxt }}</button>
    </form>

    <div class="col2">
      <div class="list-container" *ngFor="let s of skills">
        <div class="list-content">
          <div class="list-actions">
            <button class="btn-delete" (click)="deleteJob(s.id)">Eliminar</button>
            <button class="btn-edit" (click)="edit(s)">Actualizar</button>
          </div>
          <div class="list-text">
            {{ s.skill }} - {{ s.percentage }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
