<div class="container color-light">
  <div class="form-box">
    <form #headerForm="ngForm" (ngSubmit)="actualizarHeader()">
      <input type="text" class="txt" name="name" placeholder="Nombre" [(ngModel)]="header.name">
      <input type="text" class="txt" name="goalLife" placeholder="Meta de vida" [(ngModel)]="header.goalLife">
      <input type="text" class="txt" name="photoUrl" placeholder="URL de la foto" [(ngModel)]="header.photoUrl">
      <input type="email" class="txt" name="email" placeholder="Correo electrónico" [(ngModel)]="header.email">
      <input type="text" class="txt" name="phoneNumber" placeholder="Teléfono" [(ngModel)]="header.phoneNumber">
      <input type="text" class="txt" name="location" placeholder="Ubicación" [(ngModel)]="header.location">
      <input type="text" class="txt" name="socialNetwork" placeholder="Red social" [(ngModel)]="header.socialNetwork">

      <button type="submit" class="btn-submit">Actualizar</button>
    </form>
  </div>
</div>


