<p>admin-certificates works!</p>
<div class="container color-dark">
    <div class="col3">
      <p>Certificados registrados:</p>
    </div>
  </div>
  
  <div class="container color-light">
    <div class="col3">
      <form #certForm="ngForm" (ngSubmit)="AgregarJob()">
        <input type="text" class="txt" name="titulo" placeholder="Título" [(ngModel)]="myCertificates.titulo"><br>
        <input type="text" class="txt" name="ano" placeholder="Año" [(ngModel)]="myCertificates.ano"><br>
        <input type="text" class="txt" name="desc" placeholder="Descripción" [(ngModel)]="myCertificates.desc"><br>
  
        <button type="submit" class="btn">{{ btntxt }}</button>
      </form>
  
      <div class="col2">
        <div class="list-container" *ngFor="let cert of certificates">
          <button type="button" class="item" (click)="deleteJob(cert.id)">Eliminar</button>
          {{ cert.titulo }} - {{ cert.ano }}
        </div>
      </div>
    </div>
  </div>
  