<div class="container color-dark">
  <div class="col3">
    <p>Work-experience items:</p>
  </div>
</div>

<div class="container color-light">
  <div class="form-box">
    <form #workForm="ngForm" (ngSubmit)="AgregarJob()">
      <input type="text" class="txt" name="startate" placeholder="Start date (mm/yyyy)" [(ngModel)]="myWorkExperience.startDate">
      <input type="text" class="txt" name="enddate" placeholder="End date (mm/yyyy)" [(ngModel)]="myWorkExperience.endDate">
      <input type="text" class="txt" name="loction" placeholder="Location" [(ngModel)]="myWorkExperience.location">
      <input type="text" class="txt" name="posion" placeholder="Position" [(ngModel)]="myWorkExperience.position">
      <input type="text" class="txt" name="copany" placeholder="Company" [(ngModel)]="myWorkExperience.company">
      <input type="text" class="txt" name="acomplishments" placeholder="Accomplishments" [(ngModel)]="myWorkExperience.accomplishment">
      <button type="submit" class="btn-submit">{{ btntxt }}</button>
    </form>

    <div class="col2">
      <div class="list-container" *ngFor="let job of workExperience">
        <div class="list-content">
          <div class="list-actions">
            <button class="btn-delete" (click)="deleteJob(job.id)">Eliminar</button>
            <button class="btn-edit" (click)="edit(job)">Actualizar</button>
          </div>
          <div class="list-text">
            {{ job.company }} - {{ job.position }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

