<div class="container color-dark">
  <div class="col3">
    <p>Registros educativos:</p>
  </div>
</div>

<div class="container color-light">
  <div class="form-box">
    <form #eduForm="ngForm" (ngSubmit)="AgregarJob()">
      <input type="text" class="txt" name="fechaInic" placeholder="Fecha inicio (mm/yyyy)" [(ngModel)]="myeducation.fechaInic"><br>
      <input type="text" class="txt" name="fechaFin" placeholder="Fecha fin (mm/yyyy)" [(ngModel)]="myeducation.fechaFin"><br>
      <input type="text" class="txt" name="titulo" placeholder="Título" [(ngModel)]="myeducation.titulo"><br>
      <input type="text" class="txt" name="escuela" placeholder="Escuela" [(ngModel)]="myeducation.escuela"><br>

      <button type="submit" class="btn-submit">{{ btntxt }}</button>
    </form>

    <div class="col2">
      <div class="list-container" *ngFor="let edu of education">
        <div class="list-content">
          <div class="list-actions">
            <button class="btn-delete" (click)="deleteJob(edu.id)">Eliminar</button>
            <button class="btn-edit" (click)="edit(edu)">Actualizar</button>
          </div>
          <div class="list-text">
            {{ edu.escuela }} - {{ edu.titulo }} ({{ edu.fechaInic }} - {{ edu.fechaFin }})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
